#search-form {
  width: 100%;
  // border: 2px solid green;
  display: flex;
  justify-content: space-between;
  height: 40px;
  input {
    width: 70%;
    padding: 0px 5px;
  };
  button {
    width: 30%;
  }
}
